body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "navFont";
  src: url("/public/font/icielBrandonText-Bold.ttf");
}
.content-style{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('background.jpg');
  background-attachment: scroll;
}

.logo{
  padding-top: 20%;
  padding-left: 5% 
}
@media(max-width: 768px){
  .content-style{
    background-image: url('background\ -\ 700.jpg');
  }
  .logo{
    padding-top: 28%;
  }
}

.button-upload{
  border-radius: 100px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(255, 247, 247);
  color: black;
  border: 2px solid #555555;
}
.button-upload:hover{
  background-color: #555555;
  color: white;
}
.button-upload span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button-upload span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.button-upload:hover span {
  padding-right: 25px;
}

.button-upload:hover span:after {
  opacity: 1;
  right: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Navbar*/
navbar {
  margin: 0;
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px
}
.navlink{
  display: inline;
  margin-right: 3%;
  color:#596264;
  text-align: center;
  padding: 0.5% 1%px;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  font: 'navFont';
  transition-duration: 0.4s;
  border: none;
  background: none;
}
.navlink:hover{
  color: #aaa;
  text-decoration: none;
}
.sticky-header{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 1020;
}
.fadeModal{
  transition: 0.25s;
  animation-duration: 0.4s
}
.search-input{
  background:#fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.search-input .autocom{
  max-height: 280px;
  overflow-y: auto;
  opacity: 1;
  pointer-events: none;
}
.autocom li{
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: block;
}
.autocom li:hover{
  background: #efefef;
}
.searchButton{
  border: 0.5px solid;
  border-radius: 0 2px 2px 0;
  border-color: #cecece;
  background-color: rgb(247, 247, 247);
  opacity: 0.7;
  height: 100%;
}
.searchButton :hover{
  border-color: #9b9a9a;
  opacity: 0.6;
}
.search-option{
  height: 100%;
}
.Status{
  padding-right: 20px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid blue;
  border-bottom: 10px solid blue;
  width: 40px;
  height: 4 0px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*Content*/
.custom-file-label{
  font-size: large;
}
.ingredient-table{
  width: 100%;
  animation-duration: 0.4s;
}
.ingredient-table th, .ingredient-table td {
  padding:1%;
}
.ingredient-table td{
  font-size: 14px;
}
.ingredient-table th{
  background-color: #4CAF50;
  color:#fff;
}
.ingredient-table tr:hover {
  background-color: #ddd;
  transition: 0.2s;
}
h2,h3,h4 {
  font-weight: bold;
  color: #494f50;
}
.list{
  width: 95%;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
  flex-wrap: wrap;
  justify-content: center;
}

.list-item{
  position: relative;
  flex-direction: column;
  width: 23%;
  background-color: #fff;
  background-clip: border-box;
  color: #4b5052;
  transition-duration: 0.2s;
  margin: .6%;
}
@media(max-width: 1100px){
  .list-item{
    width: 30%;
    
  }
}
@media(max-width: 900px){
  .list-item{
    width: 40%;
    
  }
}
@media(max-width: 550px){
  .list-item{
    width: 80%;
    
  }
}
.list-item:hover{
  color: #888787;
  text-decoration: none;
}
.list-btn-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-btn{
  border-radius: 50%;
  padding: 6px 3px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:rgb(247, 247, 247);
  font-size: large;
  border:5px;
  box-shadow: 1px 1.5px grey;
  width: 50px;
  height: 50px;
  z-index: 1010;
}
.list-btn:hover{
  background-color: #494f50;
  color: #ddd;
}
.list-item .list-text{
  text-align: left;
  text-decoration: none;
  font: "navFont";
  font-weight: bold;
  font-size: large;
  padding-left: 20%;
}
/* FOOTER*/
.footer-top{
  padding-top: 33px;
  color: #aaa;
  text-align: left;
  background: #333;
}
.footer-top p a {
   color: #aaa;
   border-bottom:1px dashed #666; 
  }
.footer-top h3{
  padding-bottom: 10px;
  color: #fff;
}
.footer-bottom{
  padding: 15px 0;
  background: #444;
  text-align: left;
  color: #aaa;
}
.footer-social a{
  margin-right: 10px;
}